
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.text-shpere {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: rgb(26, 156, 156);
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #e58f2e;
}
@media (max-width: 450px) {
    .tagcloud {
        font-size: 1em;
        font-weight: 400;
    }
    .text-sphere {
        flex-direction: column;
        align-items: center;
    }
}